In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("ExtractedData/Sub. 2/B/datafile003.csv")
# ns2-data-extraction/data/output-datafiles/datafile001.csv

In [3]:
data.head()

,Fp1,Fp2,F7,F8,F3,F4,Fz,C3,C4,Cz,...,CP2,CP5,CP6,POz,Oz,AFz,M1,M2,Sample,Time
0,95.50,-164.50,204.5,-147.25,-183.00,520.75,3286.00,2226.25,3527.75,306.00,...,20.75,-210.50,-208.50,19.00,723.25,-439.50,-8180.75,-8191.25,0,0.000
1,149.50,-110.00,248.0,-77.75,-122.00,562.00,3113.50,2292.00,3419.00,348.00,...,92.25,-122.00,-118.25,105.25,803.50,-312.25,-8179.25,-8189.75,0,0.001
2,192.50,-52.00,259.5,-12.00,-47.50,546.00,2683.50,2161.50,3039.50,344.75,...,152.25,-15.00,-17.75,196.50,822.25,-147.00,8191.75,-8188.25,0,0.002
3,188.25,-9.75,247.0,24.75,-4.50,484.50,2219.75,1884.50,2518.75,345.25,...,159.25,24.25,26.00,191.50,745.00,-74.75,8191.75,8191.75,0,0.003
4,223.50,69.00,219.0,111.25,89.75,394.50,1211.75,1378.25,1580.50,277.25,...,221.00,177.00,177.25,321.25,629.00,196.25,8191.75,8187.75,0,0.004