In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("ExtractedData/datafile001.csv")
# ns2-data-extraction/data/output-datafiles/datafile001.csv

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-1393.25,-1256.00,-1250.50,-1327.25,-1284.25,-1283.50,-1233.25,-1214.75,-1221.00,-1330.00,...,-1560.50,-1452.75,-1446.50,-1541.25,-1545.25,-1695.00,-1484.25,-1712.25,-8164.25,-8154.00
1,-1578.00,-1467.00,-1452.75,-1521.50,-1472.75,-1471.50,-1432.00,-1367.75,-1417.50,-1516.00,...,-1313.50,-1230.75,-1229.25,-1312.75,-1313.00,-1426.25,-1254.50,-1428.00,8191.75,8191.75
2,-963.50,-925.25,-916.25,-928.00,-906.25,-905.50,-898.50,-831.00,-882.00,-953.50,...,-671.50,-623.25,-619.75,-656.50,-655.25,-700.25,-625.00,-690.75,8191.75,8191.75
3,-75.25,-138.25,-135.50,-95.50,-105.25,-103.50,-119.75,-66.00,-122.25,-143.75,...,405.50,384.75,383.00,446.25,438.50,514.25,401.25,552.00,8191.75,8191.75
4,926.00,802.00,791.50,873.50,831.75,829.75,777.75,792.00,771.50,802.75,...,1232.25,1196.50,1191.75,1291.50,1282.75,1418.00,1208.25,1447.25,8191.75,8191.75